body > table{
    font-size: 20px;
    font-style: italic;
    width: 100%;
    background-color: aliceblue;
    height:1000px;
    animation-name: ex;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color:black;
}
@keyframes ex {
    0%   {background-color: aliceblue;}
    25%  {background-color: aquamarine;}
    50%  {background-color: yellowgreen;}
    100% {background-color: beige;}
  }
table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid grey;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: red;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: azure;
    
}

input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: azure;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}
a:hover
{
    color:yellowgreen;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}